li.social {
	display: inline-block;
}

.social a:hover {
	background-color: green !important;
	color: white;
}

/* Override default Bootstrap btn style */
.btn-default:hover {
	color: white;
	background-color: green;
}

.reset-btn:hover {
  background-color: red;
}

.imgFrame {
	border-top: 20px solid black;
	border-bottom: 20px solid black;
}

.barcode {
   color: black;
}

.barcode:hover {
  background-color: green;
  color: white;
  text-decoration: none;
}

/* MARKETING CONTENT (Boilerplate code from https://getbootstrap.com/docs/3.3/examples/carousel/)
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
